HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/Plans.md
/src/main/resources/application.properties
/src/main/resources/application-dev.properties

### NODE MODULES ###
node_modules
src/main/resources/static/ts-transpiled

### uploads
uploads/*
!uploads/default.jpg

### mmdb database for countries, access google docs for that
geodb-lite/*

### todos list
TODOS.md