<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Community</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css"/>

</head>
<body th:data-username="${username}" th:data-avatar="${avatar}">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="post-body">
        <div class="post-editable">
            <img class="mini-profile-picture" alt="profile-picture" th:src="@{'/uploads/' + ${avatar}}" />
            <div id="post-content">
                <textarea required id="post-input" class="post-message" type="text" placeholder="Share your opinion?" maxlength="250"></textarea>
                <p class="p-info" id="char-count"></p>
            </div>
        </div>
        <div class="post-buttons">
            <button class="submit-button" id="submit-post-button">Post</button>
        </div>
    </div>

    <div class="posts-container">
        <div class="post-item" th:each="post : ${posts}" th:data-post-id="${post.postId}">
            <img class="mini-profile-picture" th:src="@{'/uploads/' + ${post.userAvatar}}" alt="avatar"/>
            <div class="post-item-content">
                <div class="post-item-header">
                    <span class="post-username" th:text="${post.username}">username</span>
                    <span class="post-time" th:text="${post.createdAt}">2m</span>
                    <button class="delete-button" th:if="${post.username == username}" th:data-post-id="${post.postId}">
                        <i class="ti ti-trash"></i>
                    </button>
                </div>
                <p class="post-text" th:text="${post.content}">Text...</p>
                <div class="post-buttons">
                    <button class="action-btn comment-button" th:data-post-id="${post.postId}">
                        <i class="ti ti-message-circle"></i>
                        <span th:text="${post.commentNumber}"></span>
                    </button>
                    <button class="action-btn like-button" th:data-post-id="${post.postId}" th:classappend="${post.liked} ? ' liked' : ''">
                        <i class="ti ti-heart"></i>
                        <i class="ti ti-heart-filled"></i>
                        <span class="like-count" th:text="${post.likeNumber}"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script type="module" th:src="@{/ts-transpiled/main.js}"></script>

</body>
</html>