<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobbies</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="content">
        <div id="lobbyPage-header">
            <button id="createLobbyButton">Create Lobby</button>
            <button id="showAvailableLobbiesButton">Show Available</button>
            <p>There are currently x . . . lobbies - REPLACE TEXT</p>
            <p>Sort by lobby state probably here</p>
        </div>
        <div id="lobbiesContainer"></div>
    </div>
    <div id="lobby-popup-editor" style="display: none;"></div>
    <script type="module" th:src="@{/ts-transpiled/Scripts.js}"></script>
    <script type="module" th:src="@{/js/script.js}"></script>
</body>
</html>