<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobbies</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
</head>
<body>
    <div th:insert="fragments/header :: header"></div>
    <div id="content">
        <div id="lobbyPage-header">
            <button id="createLobbyButton">Create Lobby</button>
            <button id="showAvailableLobbiesButton">Show Available</button>
            <p>There are currently x . . . lobbies - REPLACE TEXT</p>
            <p>Sort by lobby state probably here</p>
        </div>
        <div id="lobbiesContainer"></div>
    </div>

    <script type="module" th:src="@{/ts-transpiled/Scripts.js}"></script>
</body>
</html>