<!DOCTYPE html>
<html>
<head>
  <title>Șah</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
  <div id="chess-stuff">
    <canvas id="chessCanvas"></canvas>
    <div id="chess-info-wrapper" class="chess-info-wrapper">
      <div class="chess-info-item">Play
        <div id="move-list-container">
          <div id="move-list"></div>
        </div>
        <div id="buttons" class="buttons">
          <div id="resign-button">Resign</div>
<!--          <div id="offer-draw-button" class="btn btn-secondary">Draw</div> TO ADD WHEN WEBSOCKETS-->
        </div>
      </div>
    </div>


  </div>
  <div id = "status" style = "font-size: 20px; font-weight: bold">
  </div>
    <div id="check-string" style="font-size: 20px; font-weight: bold">
  </div>
<!--  <button id="reset-btn">RESET</button>-->
<!--  <script type="module" src="js/chess-related/main.js"></script>-->
  <script type="module" th:src="@{/ts-transpiled/Main.js}"></script>
</body>
</html>
