<!DOCTYPE html>
<html>
<head>
  <title>Șah</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
</head>
<body>
    <div th:insert="fragments/header :: header"></div>

    <div class="content">
        <div id="chat-wrapper">
            <div id="chat-header">
                <h2> Chat box</h2>
            </div>
            <div id="messageArea"></div>
            <div id="messageForm" name="messageForm">
                <input type="text" id="message" placeholder="Type a message..." autocomplete="off">
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
            </div>
        </div>

        <div id="chess-stuff">
            <div id="chess-playground">
                <div id="chessPlayerWhite">Guest White</div>
                <canvas id="chessCanvas"></canvas>
                <div id="chessPlayerBlack">Guest Black</div>
            </div>
            <div id="chess-info-wrapper" class="chess-info-wrapper">
                <div id="chess-info-item">Play</div>
                <div id="move-list-container">
                    <div id="move-list"></div>
                </div>
                <div id="buttons" class="buttons">
                    <div id="resign-button">Resign</div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script type="module" th:src="@{/ts-transpiled/Main.js}"></script>
</body>
</html>
