<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Profile</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div id="ProfileBox">
        <div id="profile-flag"></div>
        <img id="profile-picture" alt="profile picture" th:src="@{'/uploads/' + ${profileAvatar}}" />
        <div id="profile-username" th:text="${profileusername}">Guest</div>
        <div id="profile-description"></div>
    </div>

    <div th:if="${profileusername == currentUser}" class="upload-photo">
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" />
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <button type="submit">Change profile picture</button>
        </form>
    </div>

    <div id="last-games-container">
        <div id="last-games-header"></div>
        <div id="last-games-list">
            <ul th:if="${matchHistory != null}">
                <li th:each="game : ${matchHistory}">
                    Opponent: <span th:text="${game.opponent}"></span>,
                    Format: <span th:text="${game.format}"></span>,
                    Moves: <span th:text="${game.numberOfMoves}"></span>

                    <span th:if="${game.outcome}" class="win">WIN</span>
                    <span th:unless="${game.outcome}" class="lose">LOSE</span>
                </li>
            </ul>
            <div th:unless="${matchHistory} != null">User currently has no games</div>
        </div>
    </div>
    <script type="module" th:src="@{/js/script.js}"></script>
</body>
</html>