<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Profile</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div id="ProfileBox">
        <div id="profile-flag"></div>
        <div id="profile-picture"></div>
        <div id="profile-username" th:text="${username}">Guest</div>
        <div id="profile-description"></div>
    </div>

    <div id="last-games-container">
        <div id="last-games-header"></div>
        <div id="last-games-list">
            <ul th:if="${matchHistory != null}">
                <li th:each="game : ${matchHistory}">
                    Opponent: <span th:text="${game.opponent}"></span>,
                    Format: <span th:text="${game.format}"></span>,
                    Moves: <span th:text="${game.numberOfMoves}"></span>

                    <span th:if="${game.outcome}" class="win">WIN</span>
                    <span th:unless="${game.outcome}" class="lose">LOSE</span>
                </li>
            </ul>
            <div th:unless="${matchHistory} != null">User currently has no games</div>
        </div>
    </div>
</body>
</html>