<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Profile</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div id="ProfileBox">
        <div id="profile-flag"></div>
        <div id="profile-picture"></div>
        <div id="profile-username"></div>
        <div id="profile-description"></div>
    </div>

    <div id="last-games-container">
        <div id="last-games-header"></div>
        <div id="last-games-list"></div>
    </div>
</body>
</html>