<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
    <div id="loginContent">
        <form class="loginForm" th:action="@{/login}" method="post">
            <h2>Log in to start playing</h2>

            <label class="form-label">Username</label>
            <input class="form-input" type="text" name="username" placeholder="Enter username" required>
            <label class="form-label">Password</label>
            <input class="form-input" type="password" name="password" placeholder="Enter password" required>
            <button type="submit">Log in</button>
            <p th:if="${loginError}" th:text="${loginError}" style="color: red;"></p>
            <a th:href="@{/register}">If you don't have an account, you may create one here</a>
        </form>
    </div>
</body>
</html>