<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>înregistrează-te</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div id="registerContent">
        <form th:action ="@{/register}" method="post">
            <h2>Creeaza-ti un cont</h2>


            <label>Email</label>
            <input type="email" name="email" placeholder="Introdu emailul" required>
            <label>Username</label>
            <input type="text" name="username" placeholder="Introdu numele" required>
            <label>Parola</label>
            <input type = "password" name = "password" placeholder="Introdu parola" required>

            <p th:if="${error}" th:text="${error}" style="color:red;"></p>
            <button type="submit">Register</button>
            <a th:href="@{/login}">Dacă ai cont, logheaza-te aici</a>
        </form>
    </div>
</body>
</html>