<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Bine ai venit pe site</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="content">
        <div th:insert="fragments/navbar :: navbar"></div>
        <h1>Bun venit, <span sec:authentication="name">utilizator</span>!</h1>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
