<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vs AI</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="content-play">

        <div id="side-select-overlay" class="overlay">
            <div class="overlay-card">
                <h2 class="overlay-title">Choose your side</h2>
                <button id="playAsWhite" class="side-btn white-btn">♔ Play as White</button>
                <button id="playAsBlack" class="side-btn black-btn">♚ Play as Black</button>
                <a href="/">Go back to home</a>
            </div>
        </div>

        <div class="chess-main">

            <div class="chess-playground">
                <div id="player-black">Waiting . . .</div>
                <canvas id="chessCanvas"></canvas>
                <div id="player-white">Waiting . . .</div>
            </div>

            <div id="chess-info-wrapper" class="chess-info-wrapper">
                <div id="chess-info-item">Play</div>
                <div id="move-list-container">
                    <div id="move-list"></div>
                </div>
                <div id="buttons" class="buttons">
                    <button id="resign-button">Resign</button>
                </div>
            </div>
        </div>

        <div th:insert="~{fragments/copyables :: copyables}"></div>

    </div>

    <script type="module" th:src="@{/ts-transpiled/playEngine/Main.js}"></script>
    <script type="module" th:src="@{/ts-transpiled/main.js}"></script>
</body>
</html>