<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Self Practice</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div id="chess-stuff">

        <div id="chess-playground">
            <canvas id="chessCanvas"></canvas>
        </div>

        <div id="chess-info-wrapper" class="chess-info-wrapper">
            <div id="chess-info-item">Play with yourself</div>
            <div class="stockfish-enable">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <span>Enable stockfish</span>
            </div>
            <div id="move-list-container">
                <div id="move-list"></div>
            </div>
        </div>
    </div>

    <button id="flipBoard">Flip board</button>

    <div id="FEN"></div>

    <script type="module" th:src="@{/ts-transpiled/practice/index.js}"></script>
</body>
</html>