<div class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand" href="/">Chess</a>
<!-- TO ADD HREFs-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-left">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">News (Not set)</a>
                </li>

                <li>
                    <a class="nav-link" href="#">Streamers (Not set)</a>
                </li>

                <li>
                    <a class="nav-link" href="/lobbies">See Lobbies</a>
                </li>

                <li>
                    <a id="quickPlayNav" class="nav-link">Quick-play</a>
                </li>

                <li>
                    <a id="chessPosts" class="nav-link" href="#">Chess Posts (To be added)</a>
                </li>
            </ul>
        </div>

        <div class="navbar-right ms-auto d-flex align-items-center">
            <div sec:authorize="isAnonymous()" class="register-login buttons">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="btn btn-secondary" href="@{templates/registration/register}">Register</a>
                        <a class="btn btn-secondary" href="@{templates/registration/login}">Log-in</a>
                    </li>
                </ul>
            </div>

            <div sec:authorize="isAuthenticated()" class="your-profile">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="btn btn-secondary" href="#">Your profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
