<nav class="navbar" th:fragment="navbar">
  <ul class="nav-links">
      <li class="nav-item active">
        <a class="nav-link" href="#">News (Not set)</a>
      </li>

      <li>
        <a class="nav-link" href="#">Streamers (Not set)</a>
      </li>

      <li>
        <a class="nav-link" href="/lobbies">See Lobbies</a>
      </li>

      <li>
        <a id="quickPlayNav" class="nav-link">Quick-play</a>
      </li>

      <li>
        <a id="chessPosts" class="nav-link" href="#">Chess Posts (To be added)</a>
      </li>

      <li class="dropdown">
          <a class="dropbtn" href="#">Practice</a>
          <ul class="dropdown-content">
              <li><a href="/selfpractice">Self Practice</a></li>
          </ul>
      </li>
  </ul>
</nav>