<nav class="navbar" th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="navbar-content">
        <div class="nav-links-left">
            <ul class="nav-links">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link">News (Not Set)</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/streamers">Streamers (Not Set)</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/lobbies">Lobbies</a>
                </li>


                <li class="nav-item active">
                    <a id="quickPlayNav" class="nav-link">Quick-Play</a>
                </li>


                <li class="nav-item active">
                    <a class="nav-link">Chess Posts (Not Set)</a>
                </li>


                <li class="dropdown">
                    <a class="dropdown-toggle">Practice</a>
                    <div class="dropdown-content">
                        <div>
                            <a href="/selfpractice">Self-Practice</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="nav-links-right">
            <ul class="nav-links">
                <li class="dropdown">
                    <a class="dropdown-toggle">Your profile</a>
                    <div class="dropdown-content">
                        <form class="logoutForm" method="post" th:action="@{/logout}">
                            <button class="logoutButton" type="submit">Logout</button>
                        </form>
                        <div class="profile" id="user-profile">Your profile</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>