<nav class="navbar" th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="navbar-content">
        <div class="nav-links-left">
            <ul class="nav-links">

                <li class="nav-item-active">
                    <a href="/">
                        <img alt="chess-logo" th:src="@{/images/misc/logo_background-removebg-preview.png}" />
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/streamers">Chess Streams</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/lobbies">Lobbies</a>
                </li>


                <li class="nav-item active">
                    <a id="quickPlayNav" class="nav-link">Quick-Play</a>
                </li>


                <li class="nav-item active">
                    <a id="CommunityPageNav" class="nav-link" href="/community">Community</a>
                </li>


                <li class="dropdown">
                    <a class="dropdown-toggle">Practice</a>
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            <a href="/selfpractice">Self-Practice</a>
                        </div>

                        <div class="dropdown">
                            <a href="/playengine">Play Engine</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="nav-links-right">
            <ul class="nav-links nav-links-right">
                <li class="nav-item active">
                    <img alt="logo" id="user-avatar-mini" class="redirectable" style="width: 32px; height: 32px" th:src="@{'/uploads/' + ${avatar != null ? avatar : 'default.jpg'}}" th:data-username="${username}" />
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" id="user-profile-nav" th:href="@{'/profile/'+ ${username}}" th:text="${username}"></a>
                    <div class="dropdown-content">
                        <div class="dropdown-item redirectable" th:data-username="${username}">Your profile</div>
                        <form class="dropdown-item" method="post" th:action="@{/logout}">
                            <button class="logoutButton" type="submit">Logout</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>