@import "https://fonts.googleapis.com/css?family=VT323";

:root {
    --light-grey: #e0e2f4;
    --grey: #aaaaaa;
    --dark-bg: rgba(36, 36, 36);
    --base-font-size: 20px;
    --font-stack: "VT323", monospace;
}

body, h1, h2, h3, h4, p, a {
    color: var(--light-grey);
}

body, p {
    font: normal 20px/1.25rem "VT323", monospace;
}

h1 { font: normal 2.75rem/1.05em "VT323", monospace; }

body {
    background: rgba(36, 36, 36);
}

.container {
    width: 90%;
    margin: auto;
    max-width: 640px;
}

.not-found-container {
    padding-top: 10%;
    text-align: center;
}

.error-title {
    text-align: center;
    color: rgba(36, 36, 36);
    background: var(--grey);
    padding: 0 15px 2px 13px;
    margin-bottom: 50px;
    display: inline-block;
}

.error-description-container {
}

.error-reason {
}

.what-to-do {
    margin-top: 35px;
}

.what-to-do a {
    text-decoration: none;
    padding: 0 9px 2px 8px;
}

.what-to-do a:hover,
.what-to-do a:focus {
    background: var(--grey);
    color: rgba(36, 36, 36);
}

a.link {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: auto;
}

a.link:hover,
a.link:focus {
    background: var(--grey);
    width: auto;
}