<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chess Twitch Streams</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div th:insert="fragments/navbar :: navbar"></div>
<h1 style="text-align:center;">♟️ Live Chess Streams</h1>
<div class="container">

    <div class="streams-container">
        <a class="stream-card" th:each="stream : ${streams}" th:href="'https://www.twitch.tv/' + ${stream.userName}" target="_blank">

            <div class="thumbnail-wrapper">
                <span class="live-badge">Live</span>
                <img class="stream-thumbnail" th:src="${stream.thumbnailUrl}" />
            </div>

            <div class="stream-info">
                <h3 class="stream-user" th:text="${stream.userName}"></h3>
                <p class="stream-title" th:text="${stream.title}"></p>
                <div class="viewer-count">
                    <span th:text="${stream.viewerCount}"></span> Viewers
                </div>
            </div>

        </a>
    </div>

</div>
<script type="module" th:src="@{/ts-transpiled/main.js}"></script>
</body>
</html>