$sep-gray: #2f3336;
$body-gray: rgba(36, 36, 36);
$font-color: #bababa;
$input-background: #24221e;
$gray-border: #404040;
$max-body: 600px;
$delete-hov: #e0243a;
$post-height: 450px;
$font-dim: #949494;
$like-color: #f91880;
$like-color-hov: rgba(29, 155, 240, 0.1);