@use "navbar";
@use "body";
@use "_stream";
@use "_post";
@use "_comment";
@use "_library" as *;

.content-main {
    display: flex;
    flex-direction: row;
    padding: 24px 16px;
    gap: 24px;
}

.content-main-left {
    display: flex;
    flex-direction: column;
}

.content-main-center {
    border-left: 1px solid $sep-gray;
    border-right: 1px solid $sep-gray;
    flex: 1.3;
}

.content-main-right {
    display: flex;
}

.content-main-left,
.content-main-right {
    flex: 1;
    align-content: flex-start;
    padding-left: 5%;
}

.main-stream {
    display: flex;
    width: 320px;
    height: 320px;
    gap: 24px;
}

.no-main-stream {
    display: flex;
    color: $font-dim;
    text-decoration: none;
}

.hchar {
    font-weight: bold;
}

.win-char {
    color: #66ff10;
}

.lose-char {
    color: #ff000d;
}

.draw-char {
    color: #3C4151;
}

.result-string {
    display: flex;
    gap: 3px;
}